.cell-list {
  border: 2px solid black;
  padding: 0;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  list-style: none;
  width: calc(100% / 10);
  aspect-ratio: 1;
  border: 2px solid black;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
